<p>
	{{ messages.categorytools-page-description }}
</p>

<div class="categorytools-row">
	<div id="shadow">Working, please wait..</div>
<div class="categorytools-column-left">
	<b>Available categories</b>
<div id="jstree_demo_div">
	Loading categories..
</div>
</div>
<div class="categorytools-column-right">
	<b>Actions <span id="cur_cat"></span></b>
	<button class="btn btn-primary" id="btn_rename" disabled >Rename</button>
	<button class="btn btn-danger" id="btn_delete" disabled >Delete</button>
	<ul id="pagelist">

	</ul>
</div>
</div>